.git
.gitignore
.DS_Store
Thumbs.db
.run
gdshow
Py
out
repos
PyBackend/output
models
codex-workplace
**/*.iml

**/node_modules
**/build
**/target
**/__pycache__
**/*.pyc
**/*.ipynb
**/.pytest_cache
JavaBackend/Untitled-1.sh

*.log
.env
Frontend/.env
JavaBackend/src/main/resources/application-local.properties
PyBackend/.env
